@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
* {
    font-family: 'Josefin Sans', sans-serif;
}

body {
    margin: 0;
    background-color: #353b48;
    color: white;
}

.container {
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.navbar {
    overflow: hidden;
    background-color: #2f3640;
    padding: .3rem;
    margin-top: 0px;
}

input {
    padding: .4rem;
    margin: .3rem;
    width: 160px;
    border: none;
    outline: none;
    border-bottom: .1rem solid #2f3640;
}

.btn {
    padding:  6px 10px;
    margin: .3rem;
    background-color: #4A69BD;
    color: white;
    border: none;
    cursor: pointer;
}

#status {
    text-align: center;
}


/* Style for addbook and update modals */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    margin-top: 15vh; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
}

/* Modal Content */
.modal-content {
    background-color: #353b48;
    margin: auto;
    border: 2px solid #4a69bd;
    width: 25vh;
}

/* Modal Header */
.modal-header {
    padding: 1px 16px;
    background-color: #4a69bd;
    color: white;
    margin-bottom: 3vh;
}

/* Close button for modals */
.closeModal {
    color: white;
    float: right;
    font-size: 42px;
}

.closeModal:hover,
.closeModal:focus {
    color: #353b48;
    text-decoration: none;
    cursor: pointer;
}


form {
    display: flex;
	flex-direction: column;
    justify-content: center;
}

.form-element {
    margin: .2rem;
    text-align: center;
}

select {
    outline: none;
    border: none;
    padding: 5px;
    
}

/* BOOKS TABLE */
#booksTable {
    /* border: 2px solid #dddddd; */
    border-collapse: collapse;
}

th {
    border-bottom: 2px solid #4a69bd;
}

td, th {
    text-align: center;
    padding: 16px;
}

th:nth-child(2), th:nth-child(3) {
    cursor: pointer;
}


.deleteIcon {
    margin: 0px;
    width: 2.5em;
    cursor: pointer;
}

.updateBtn {
    cursor: pointer;
}




.footer {
    display: flex;
    background-color: #2f3640;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    justify-content: center;

}
.stats {
    display: flex;
}

.stats p {
    padding: 0 1em;
}